.Bcolor{
    background-color: rgb(205, 230, 230);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.curver{
    border-top-left-radius: 4%; 
    border-bottom-left-radius: 4%; 
    border-bottom-right-radius: 4%; 
    border-top-right-radius: 4%; 
    place-self:center; 
    height:420px; 
    width:255px;
    text-align:center;
}

.curver2{
    border-top-left-radius: 4%; 
    border-bottom-left-radius: 4%; 
    border-bottom-right-radius: 4%; 
    border-top-right-radius: 4%; 
    place-self:center; 
    height:210px;
    width:230px;
}

.line-break {
    display: block;
    margin-bottom: 20px;
  }
  